/*Standard Color*/
$base-color      : #000;
$bg-color		 : #FFFFFF;
$fg-color		 : #e5e5e5;
$theme-color     : #ca1f1f;

/*Theme Color*/
$active-color    :#999999;
$underline-color :#cccccc;
$border-color 	 :#cccccc;
$light-color     :#222222;
$switch-color    :#099999;